.view-label {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
}

.view {
  user-select: text;
  box-sizing: border-box;
  background-color: #343a40;
  font-size: 14px;
}

.exp {
  user-select: text;
  box-sizing: border-box;
  background-color: #343a40;
  font-size: 14px;
  color: white;
}